---
http_interactions:
- request:
    method: post
    uri: https://rest.nexmo.com/sms/json
    body:
      encoding: UTF-8
      string: '{"from":"Nexmo Ruby Wrapper","text":"Testing multiple SMS Service","to":"59179783638","api_key":"a12f0648","api_secret":"eac0a20e"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message-count":"1","messages":[{"to":"59179783638","message-id":"020000006689B110","status":"0","remaining-balance":"9.75361500","message-price":"0.04500000","network":"73601"}]}'
  recorded_at: Wed, 10 Jun 2015 22:11:01 GMT
recorded_with: VCR 2.9.3
