---
http_interactions:
- request:
    method: post
    uri: https://rest.nexmo.com/call/json
    body:
      encoding: UTF-8
      string: '{"answer_url":"http://sms.clouvy.com/message.xml","to":"59179712345","api_key":"key","api_secret":"secret"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"call-id":"1d956d1c595064a2eae0eb3b8c1b0d7c-1","to":"59179712345","status":"0"}'
  recorded_at: Thu, 18 Jun 2015 21:05:55 GMT
recorded_with: VCR 2.9.3
