---
http_interactions:
- request:
    method: post
    uri: https://rest.nexmo.com/sms/json
    body:
      encoding: UTF-8
      string: '{"text":"Testing multiple SMS Service","to":"59179783638","api_key":"a12f0648","api_secret":"secret","from":"Nexmo
        API Ruby Gem"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message-count":"1","messages":[{"to":"59179783638","message-id":"030000007F0D8503","status":"0","remaining-balance":"7.58263500","message-price":"0.04500000","network":"73601"}]}'
  recorded_at: Wed, 17 Jun 2015 13:15:55 GMT
recorded_with: VCR 2.9.3
