---
http_interactions:
- request:
    method: post
    uri: https://rest.nexmo.com/tts/json
    body:
      encoding: UTF-8
      string: '{"text":"Testing multiple TTS calls Service","to":"59179783638","api_key":"key","api_secret":"secret","from":"Nexmo
        API Ruby Gem"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 17 Jun 2015 13:15:57 GMT
- request:
    method: post
    uri: https://api.nexmo.com/tts/json
    body:
      encoding: UTF-8
      string: '{"to":"59179783638","text":"Testing single TTS call","api_key":"key","api_secret":"eac0a20e","from":"Nexmo
        API Ruby Gem"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"call_id":"cc7dae3aadac69c4cff4257bbe39e54f","to":"59179783638","status":"0","error_text":"Success"}'
  recorded_at: Wed, 17 Jun 2015 13:16:00 GMT
recorded_with: VCR 2.9.3
